.black {
  color: rgba(0, 0, 0, 0.87);
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.87) !important;
}

footer {
  height: auto;
  color: white;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-white a {
  color: white !important;
}

.navbar-fixed {
  height: 100px !important;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 100px !important;
}

.nav-wrapper {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}

.nav-wrapper .brand-logo,
.nav-wrapper a {
  color: rgba(0, 0, 0, 0.87);
}

.nav-center {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.pt-50p {
  padding-top: 50%;
}

#map {
  height: 400px;
  width: 100%;
}

.btn-round {
  cursor: pointer;
  border-radius: 2em;
  border: 1pt solid rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  padding: 0.5em 2em;
}

.btn-round:hover,
.btn-round.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.history-block {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
}

.photo_history {
  background-image: url("/assets/imgs/photo_history_bg.jpg");
  background-size: cover !important;
  /* background-size: auto 100%; */
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #cccccc;
}

.text-right {
  text-align: right;
}

.slide-img {
  opacity: 0.5;
}

.Blink {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator {
  position: absolute;
  top: 50%;
}

.middle-indicator-text {
  font-size: 4.2rem;
}
a.middle-indicator-text {
  color: white !important;
}
.content-indicator {
  width: 64px;
  height: 64px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.indicators {
  visibility: hidden;
}

.carousel {
  height: 60vh !important;
}


@media only screen and (max-width: 600px) {
  
.middle-indicator {
  top: 10%;
}

.carousel {
  height: 150px !important;
}

}
